body {
  font-family: sans-serif;
}

/* style funkcjonalne */

.gs-container {
  position: relative;
}

.gs-selectable tr[data-id], .gs-event {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.gs-event {
  position: absolute;
}

.gs-event-left-edge, .gs-event-right-edge {
  width: 5px;
  height: inherit;
  position: absolute;
  top: 0px;
}

.gs-event-left-edge {
  cursor: e-resize;
  left: 0px;
}

.gs-event-right-edge {
  cursor: w-resize;
  right: 0px;
}

/* ukrywanie krawędzi do zmiany rozmiarow, kiedy ktorys z koncow jest niewidoczny */
.gs-event.gs-event-hidden-start .gs-event-left-edge, .gs-event.gs-event-hidden-end .gs-event-right-edge {
  display: none;
}

/* style upiększające */

table {
  border-collapse: collapse;
}

td {
  border: 1px solid rgb(220, 220, 220);
}

.gs-container {
  margin: 20px;
}

.date-cell {
  width: 50px;
  height: 50px;
}

.selected {
  background-color: rgb(200, 200, 200);
}

.gs-event {
  padding: 3px;
  font-size: 9pt;
  margin-top: 4px;
  margin-bottom: 4px;
}

.gs-event:not(.gs-event-hidden-start) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 4px;
  border-left-width: 1px;
}

.gs-event:not(.gs-event-hidden-end) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 4px;
  border-right-width: 1px;
}

.predef {
  background: #e6f3ff;
  border-color: #c4cbff;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

.userdef {
  background: #e9ffe6;
  border-color: #b0e6ad;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

.gs-remove-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}
